/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */
:root {
  --button-color: rgba(58, 58, 57, 0.7);
  --text-color: #1f1f1f;
  --link-color: #212121;
  --visited-link-color: rgb(171, 169, 137);
  --active-link-color: #FFF9D8;
  --grid-item-color: rgb(255, 249, 199, 0.5);
}

/* Universal Styling */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1516009674556-7eafcc30b75b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: auto auto;
  background-color: #EDE9E6;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.0;
}

h1, h2, h3 {
  font-family: 'Noto Serif Display', serif;
}

a {
    color: var(--link-color);
    font-weight: bolder;
    text-decoration: none;
  }

  a:visited {
    color: var(--visited-link-color);
    font-weight: normal;
  }

  a:active {
    color: var(--active-link-color);
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

  button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

/* Header Styling */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 200px;
          flex: 0 2 200px;
}

.page-header__item:first-child {
  font-weight: 600;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: underline;
}

/* Home Page Styling */
.home {  
  width: 75%;
  height: 200%;
  padding: 0px 20px 80px 20px;
  margin: auto auto;
  border-radius: 10px;
}

.profile__text {
  margin-bottom: 50px;
  text-align: center;
}

/* Resume Page Styling */
.resume-container {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume-button {
  margin-bottom: 20px;
}

/* About Me Page Styling */
.about-container {  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.profile__portrait {
  float: left;
  width: 200px;
  margin-right: 20px;
  border-radius: 5px;
}

.about-text {
  text-align: left;
}

/* Portfolio Page Styling */
.work {  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
}

.work__img {
  height: 40%;
  width: 100%;
  padding: 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}

.grid__item {
  background-color: var(--grid-item-color);
  width: auto;
  min-height: auto;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.moviecasestudy-container {
  margin: auto;
  width: 75%;
  height: 900px;
  overflow: scroll;
}

.casestudy-slide {
  width: 100%;
  margin-inline: auto;
}

/* Contact Page Styling */
.contact {
  text-align: center;  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
}
 /* Footer (and below) Styling */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: var(#2B2B2B);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.findmeon {
  color: #000;
}

.image-attribute {
  color: var(--visited-link-color);
  font-size: x-small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backtotopp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

/* Media Queries */
@media all and (max-width: 400px) {
  .profile__portrait {
    width: 175px;
  }
  .about {
    width: 70%;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  }

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto /auto;
  }
  .grid__item:nth-child(5){
    grid-column: auto / auto;
  }
  h1 {
    font-size: 22px;
}
}