:root {
  --background-color: #F4F2EE;
  --primary-color: #617548;
  --secondary-color: #C78548;
  --text-color: #242424;
  --visited-link-color: #000;
  --grid-item-color: rgba(97, 117, 72, 0.1);
  --text-background-color: #fffff9;

  --header-font-weight: 700px;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(/img/black-watercolor-background.svg);
    background-size: cover;  
    background-color: var(--background-color);
    font-family: 'Archivo', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.0;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    font-weight: var(--header-font-weight);
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 24px;
    font-weight: var(--header-font-weight);
}

h3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    font-weight: var(--header-font-weight);
}

a {
    font-family: 'Archivo Narrow', sans-serif;
    color: var(--primary-color);
    font-weight: 550;
  }

  a:visited {
    color: var(--visited-link-color);
  }

  a:active {
    color: var(--secondary-color);
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
    transition: opacity 0.2s;
}

  button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }

.button_secondary {
    background-color: var(--secondary-color);
    color:#2B2B2B
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile {
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px 20px 60px 20px;
  margin: auto auto;
  border-radius: 10px;
}

.profile__portrait {
    float: left;
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
}

.about {
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.svg {
  width: 100px;
  animation: 2s spin infinite alternate linear;
  margin: auto;
}

.about-list {
  list-style-type: none;
}

.about__table {
  margin: auto;
}

.work {
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}

.grid__item {
  background-color: var(--grid-item-color);
  width: auto;
  min-height: auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0;
}

.grid__item:last-child {
  grid-column: 3/3;
  grid-row: 1/3;
}

.grid__item:nth-child(5){
  grid-column: 1/4;
}

.contact {
  text-align: center;
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: auto auto;
  border-radius: 10px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--text-background-color);  
  width: 75%;
  height: 200%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
}

.attribute {
  font-size: x-small;
  display: flex;
  justify-content: center;
}

.backtotopp {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media all and (max-width: 400px) {
  .profile__portrait {
    width: 175px;
  }
  .about {
    width: 70%;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  }

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto /auto;
  }
  .grid__item:nth-child(5){
    grid-column: auto / auto;
  }
  h1 {
    font-size: 22px;
}
}